.venv
__pycache__
.coverage
.mypy_cache
.pytest_cache
dist

# test images
*.bin

# mcumgr-client
mcumgr-client*

# device-specific plugin (not tracked)
plugins/mgmt_ex_group.py

# pyinstaller
build
dist
*.spec
